[submodule "business-repo/backend-superone"]
	path = business-repo/backend-superone
	url = git@github.com:anjude/backend-superone.git
	branch = dev
[submodule "business-repo/uni-superone"]
	path = business-repo/uni-superone
	url = git@github.com:anjude/uni-superone.git
	branch = master
[submodule "business-repo/uni-carbon-space"]
	path = business-repo/uni-carbon-space
	url = git@github.com:anjude/uni-carbon-space.git
	branch = master
[submodule "business-repo/frontend-contracts"]
	path = business-repo/frontend-contracts
	url = git@github.com:anjude/frontend-contracts.git
	branch = master
[submodule "business-repo/frontend-investment-platform"]
	path = business-repo/frontend-investment-platform
	url = git@github.com:anjude/frontend-investment-platform.git
	branch = release
[submodule "business-repo/frontend-superone"]
	path = business-repo/frontend-superone
	url = git@github.com:anjude/bean-milk.git
	branch = master
[submodule "business-repo/utools-bean-option"]
	path = business-repo/utools-bean-option
	url = git@github.com:anjude/option-tools.git
	branch = master
[submodule "business-repo/utools-superone"]
	path = business-repo/utools-superone
	url = git@github.com:anjude/utools-superone.git
	branch = master
[submodule "task/beannote"]
	path = task/beannote
	url = git@github.com:anjude/beannote.git
	branch = master
